$dark: #323232;
$light: #EEEEEE;
$gap: 1rem;

@mixin mobile-only {
  @media screen and (max-width : 640px) {
    @content;
  }
}

@mixin tab-above {
  @media screen and (min-width : 641px) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.auto-close {
  @include tab-above{
    float: right;
    clear: right;
  }

  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding: $gap;
  font-size: smaller;
  text-align: justify;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  @include border-radius(3px);

  .content {
    padding-left: $gap /2;
    padding-right: $gap;

    @include tab-above{
      min-width: 100px;
      max-width: 350px;
    }
  }

  .icon {
    display: inline-block;
    margin: auto;
    margin-left: 0;
    margin-right: $gap /2;
    font-size: 20px;
    padding: 0;

    .fa-check{
      color: #6DA652;
    }
    .fa-exclamation{
      color: #FFCF56;
    }
    .fa-info{
      color: #6798D0;
    },
    .fa-times-circle{
      color: #EF5464;
    }
  }

  .dismiss{
    display: none;
  }
}

.loading{
  @extend .auto-close;

  .icon{
    color: $light;
    line-height: 20px;
  }

  .content{
    border: none!important;
  }
}

.require-close{
  @extend .auto-close;

  .dismiss{
    margin: auto;
    margin-right: 0;
    display: inline-flex;
    &:hover{
      color: #A6A6A6;
      cursor: pointer;
    }
  }
}

.container {
  &.light{
    .auto-close, .reqire-close{
      background: $light;
      color: $dark;

      .content{
        border-left: 1px solid #A6A6A6;
      }
    }
  }

  &.dark{
    .auto-close, .reqire-close{
      &:hover{
        background: $dark;
      }

      background: $dark;
      color: $light;

      .content{
        border-left: 1px solid #A6A6A6;
      }
    }
  }

  @include mobile-only{
    width: 100%;
  }

  @include tab-above{
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  padding: 0;
}

body{
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: sans-serif;;
}